@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: auto;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

a {
    color: inherit;
}

p {
    line-height: 2;
}

input, button {
    font-family: inherit;
}

h1,h2,h3 {
    padding: 0;
    margin: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form {
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 3px 5px 8px rgba(0,0,0,0.2);
}

.form_group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form_group input {
    border: .2 dotted rgba(155, 155, 155);
    outline: none;
    padding: 0 8px;
    height: 35px;
}

.login_form button {
    height: 35px;
    border: none;
    outline: none;
    background-color: blue;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightsalmon;
    color: white;
}